#Pycharm
.idea/

# Compliled
__pycache__/
*.pytest_cache/

# .env files
*.env

# Coverage
*.coverage

# Log
*.log

#Gunicorn configuration file
gunicorn.conf.py

#Production static files folder
production_staticfiles/

#Settings file for production
*/production.py
